@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

    /* this is the animation css for the text reel */
    
    
    #cycle:after {
      animation-name: cycle; 
      animation-duration: 8s;
      animation-iteration-count: infinite;
      content: ""; 
    }
  
  @keyframes cycle {
    0% {
      content: "chats";
    }
    25% {
      content: "collabs";
    }
    50% {
      content: "debates";
    }
    75% {
        content: "interviews"
    }
    100% {
      content: "chats";
    }
  }


  #cycle2:after {
    animation-name: cycle; 
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    content: ""; 
  }

@keyframes cycle {
  0% {
    content: "chat";
  }
  25% {
    content: "collab";
  }
  50% {
    content: "debate";
  }
  75% {
      content: "interview"
  }
  100% {
    content: "chat";
  }
}